html,

body{
    background-color: #141414;
    margin:0;
    padding:0;
    height:100%;
}

h1{
    color:red;
    padding-left: 20px;
    font-size: 20px;
    font-family: arial black;
}
h2{
    color:red;
    padding-left: 20px;
    font-size: 30px;
    font-family: arial black;
    font-weight: bold;
}

header {
    color: red;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-family: arial black;
    display: block;
    perspective: 100px;
    perspective-origin: 50% 0;
    transform-origin: 0 0;
    transform: scaleX(80) rotateY(89.5deg);
}


#wrapper {
    min-height:100%;
    position:absolute;
    left: 24%
}

#top, #bottom, #left, #right {
	background: red;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 3px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 3px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
	#footer {
        position:absolute;
        bottom:0;
        padding-bottom:30px;
        left:3px;
}
		
		
		
		