 body{
      background-color: #141414;
      margin:0;
      padding:0;
      height:100%;
 }

 h1{
      color: red;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      display: block;
      font-size: 40px;
      padding-left: 30px;
      padding-right: 10px;
      perspective: 100px;
      perspective-origin: 50% 0;
      transform-origin: 0 0;
      transform: scaleX(80) rotateY(89.5deg);
  }
  
 p{
      color: white;
      font-size: 20px;
      display: block;
      font-family: arial;
  }
  
  poster img{
      padding-left: 20px;
      padding-right: 2px;
      padding-bottom: 5px;
      float: left;
      width:30%;
  }
  
  genre{
      color:white;
      font-size: 16px;
      width: 40%;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      position: relative;
      float:right ;
      padding-left:20px;
      padding-right:25%;
  }
  
  rating{
      color:red;
      font-size: 16px;
      width: 40%;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      position: relative;
      float:right ;
      padding-left:20px;
      padding-right:25%;
  }
  
  description{
      color:white;
      font-size: 16px;
      width: 40%;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      position: relative;
      float:right;
      padding-left:20px;
      padding-right:25%;
  }
  
  iframe{
      width: 40%;
      position: relative;
      float:right;
      padding-left:20px;
      padding-top:40px;
      padding-right:25%;
  }
  
</style>
