html,

body{
    background-color: #141414;
    margin:0;
    padding:0;
    color: red;
}

h1{
    color: #B0B0B0;
    padding-left: 20px;
    font-size: 20px;
    font-family: arial;
}
h2{
    color: #7F7472;
    padding-left: 20px;
    font-size: 12px;
    font-family: arial;
}

header {
    color: red;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-family: arial black;
}


#wrapper {
    min-height:100%;
    position:absolute;
    left: 24%
}

#top, #bottom, #left, #right {
	background: #3D3737;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 3px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 3px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
		